@media only screen and (max-width: 1414px) {
  .banner-content {
    top: 100;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .banner img {
    display: none;
  }

  .banner-content-heading {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .banner-content-heading-para {
    margin: 0;
    max-width: 900px;
  }

  .sub-banner-cards {
    margin: 500px 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .header-nav-bar ul {
    gap: 40px;
  }

  .banner-content-heading h1 {
    font-size: 46px;
  }

  .banner-content-heading-para {
    font-size: 16px;
    line-height: 20px;
    max-width: 600px;
  }

  .banner-content-heading-btn button {
    padding: 14px 28px;
  }

  .sub-banner-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .header-nav-bar {
    display: none;
  }

  .banner-content-heading h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .banner-content-heading-para {
    max-width: 500px;
    margin: 0 auto;
  }

  .banner-content-heading-btn button {
    padding: 14px 24px;
  }

  .banner-content-heading {
    flex-direction: column;
    gap: 0px;
    align-items: center;
    margin: 0 auto;
  }

  .banner-content-heading-main {
    margin: 0;
  }

  .sub-banner-cards {
    margin: 600px 0px;
  }

  .sub-banner-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 474px) {
  .banner-content-heading h1 {
    font-size: 36px;
    line-height: 50px;
  }

  .banner-content-heading-para {
    font-size: 18px;
    max-width: 400px;
    padding: 0px 0px 0px 70px;
    line-height: 26px;
  }

  .banner-content-heading-btn button {
    padding: 12px 20px;
  }
}
