@media only screen and (max-width: 1414px) {
  /* Banner */

  .banner-no-content {
    display: none;
  }

  .banner {
    display: block;
    text-align: center;
  }

  .banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 90px 0px 0px 0px;
  }

  .banner-content-heading-main {
    font-size: 60px;
  }

  .banner-content-heading-sub {
    font-size: 60px;
  }

  .banner-content-heading {
    display: flex;
    gap: 20px;
  }

  .banner-content-heading-para {
    margin: 0;
    max-width: 958px;
    text-align: center;
  }

  .banner-content-heading-paras {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    gap: 20px;
  }

  /* training-section */

  .training-sec-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  /* Header */

  .header-nav-bar ul {
    gap: 40px;
  }

  .header {
    display: flex;
    justify-content: space-evenly;
    margin: 12px 0px;
    align-items: center;
  }

  /* Banner */

  .banner-content-heading h1 {
    font-size: 50px;
  }

  .banner-content-heading-para {
    font-size: 16px;
    line-height: 20px;
    max-width: 600px;
  }

  .banner-content-heading-btn button {
    padding: 14px 28px;
  }

  /* Sub-Banner */

  .sub-banner-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .sub-banner-card {
    justify-content: center;
    align-items: center;
  }

  .sub-banner-card-content {
    text-align: center;
  }

  /* training-section */

  .training-sec-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  /* About-section */

  .about-sec-image {
    height: 400px;
  }

  .about-sec-image img {
    width: 100%;
  }

  .about-sec {
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .about-sec-content-sub-content p {
    font-size: 14px;
    line-height: 20px;
  }

  .about-sec-content-sub-content h1 {
    font-size: 22px;
  }

  .about-sec-content-btn button {
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 768px) {
  /* Header  */

  .header-nav-bar {
    display: none;
  }

  /* Banner */
  .banner-content-heading,
  .banner-content-heading-paras {
    padding: 0px 15px;
  }
  .banner-content-heading h1 {
    font-size: 45px;
    line-height: 48px;
  }

  .banner-content-heading-para {
    max-width: 640px;
  }

  .banner-content-heading-btn button {
    padding: 14px 24px;
  }

  .banner-content-heading {
    flex-direction: column;
    gap: 0px;
    align-items: center;
    margin: 0 auto;
  }

  .banner-content-heading-main {
    margin: 0;
  }

  /* Sub-Banner */

  .sub-banner-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Training-section */

  .training-sec-card-content {
    max-width: 250px;
  }

  .training-sec-card-img {
    width: 309px;
    height: 174px;
  }

  .training-sec-card-content-heading h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .training-sec-card-content-sub-content p {
    font-size: 12px;
    line-height: 18px;
  }

  .training-sec-card-content-mod p {
    padding: 4px;
    font-size: 12px;
  }

  .training-sec {
    padding: 20px;
  }

  .training-sec-header-heading h1 {
    font-size: 36px;
    line-height: 70px;
  }

  /* About-section */

  .about-sec-image {
    display: none;
  }

  .about-sec-content {
    display: block;
    text-align: center;
  }

  .about-sec {
    margin: 60px 0px;
  }

  .about-sec-content-btn button {
    margin: 0 auto;
  }

  .about-sec-content-sub-content p {
    text-align: center;
    margin: 30px;
  }

  /* Contact-section */

  .contact-sec-details-name,
  .contact-sec-details-conatact {
    flex-direction: column;
    gap: 25px;
    align-items: normal;
  }

  .contact-sec-heading h1 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .contact-sec-btn button {
    gap: 5px;
    padding: 10px 30px;
  }

  .contact-sec-btn {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 460px) {
  /* header */

  .header-logo {
    width: 180px;
    height: 50px;
    margin: 0 auto;
  }

  .banner-content-heading h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .banner-content {
    top: 80px;
  }

  .banner-content-heading-btn button {
    padding: 5px 20px;
    font-size: 10px;
  }

  .banner-content-heading-btn button i {
    border: 1.5px solid rgba(241, 246, 1, 1);
    border-radius: 50%;
    color: rgba(241, 246, 1, 1);
  }

  .banner-content-heading {
    margin: 0;
  }

  .banner-content-heading-para {
    font-size: 12px;
    max-width: 400px;
  }

  /* Sub-Banner */

  .sub-banner-card-heading p {
    font-size: 18px;
    line-height: 24.61px;
    font-weight: 600;
  }

  .sub-banner-card-content p {
    font-size: 12px;
    line-height: 20px;
    max-width: 282px;
    color: rgba(119, 119, 119, 1);
  }

  .sub-banner-card {
    gap: 10px;
  }

  /* traning-section */

  .training-sec-header-heading h1 {
    font-size: 30px;
  }

  /* trainig-section */

  .training-sec-card-img {
    width: 278px;
    height: 174px;
  }

  .training-sec-card-content {
    max-width: 219px;
  }

  /* About-Section */

  .about-sec-content-sub-content p {
    font-size: 14px;
    line-height: 16px;
    max-width: 250px;
  }
  .about-sec-content-heading h1 {
    font-size: 36px;
  }

  /* footer */
  .footer-copyright p {
    font-size: 14px;
    text-align: center;
  }

  .footer-social-icons {
    gap: 10px;
  }

  .footer-social-icon {
    padding: 16px;
  }

  .footer-logo {
    width: 189px;
    height: 64px;
  }
}
