@font-face {
  font-family: "Gilroy-bold";
  src: url("/asserts/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  src: url("/asserts/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-MediumItalic";
  src: url("/asserts/fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("/asserts/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-semibold";
  src: url("/asserts/fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Gilroy-Medium", sans-serif;
}

/* Header */

.header-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-logo {
  width: 200px;
  margin: 0;
}

.header-logo img {
  width: 100%;
}

.header-nav-bar ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

.header-nav-bar ul li a {
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  color: #000;
  font-size: 16px;
}

.header-nav-bar ul li a:hover {
  color: rgba(5, 169, 61, 1);
}

.header-nav-bar {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  align-items: center;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background: #ffffff;
  z-index: 2;
}

/* Banner */

.banner img {
  width: 100%;
}

.banner-container {
  max-width: 1538px;
  margin: 0 auto;
  padding: 0;
  margin-top: 95px;
}

.banner {
  position: relative;
  width: 100%;
  margin: 0;
}

.banner-content-heading-main {
  color: rgb(5, 169, 61);
  font-size: 50.88px;
  line-height: 69px;
}

.banner-content-heading-sub {
  color: rgba(246, 124, 1, 1);
  font-size: 50.88px;
  line-height: 69px;
}

.banner-content {
  position: absolute;
  top: 90px;
  right: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner-content-heading-para {
  max-width: 500px;
  font-family: "Gilroy-MediumItalic", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.banner-content-heading-btn {
  margin: 0;
}

.banner-content-heading-btn button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  border: none;
  border-radius: 70px;
  background: rgba(5, 169, 61, 1);
  color: #fff;
  padding: 16px 30px;
  cursor: pointer;
}

.banner-content-heading-btn button i {
  border: 1.5px solid rgba(241, 246, 1, 1);
  border-radius: 50%;
  color: rgba(241, 246, 1, 1);
}

/* Sub-Banner */

.sub-banner-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.sub-banner-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 120px 0px;
  gap: 20px;
}

.sub-banner-card-heading p {
  font-size: 22px;
  line-height: 24.61px;
  font-weight: 600;
}

.sub-banner-card-content p {
  font-size: 15px;
  line-height: 24px;
  max-width: 282px;
  color: rgba(119, 119, 119, 1);
}

.sub-banner-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.sub-banner-card-img,
.sub-banner-card-heading,
.sub-banner-card-content {
  margin: 0;
}

/* Training-section */

.training-sec-container {
  background-color: rgba(239, 250, 246, 1);
  max-width: 1538px;
  margin: 0 auto;
  padding: 0 15px;
}

.training-sec {
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.training-sec-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.training-sec-header-content p {
  color: rgba(119, 119, 119, 1);
  font-size: 16px;
  line-height: 24px;
  max-width: 580px;
  text-align: center;
}

.training-sec-header-heading h1 {
  font-family: "Gilroy-bold", sans-serif;
  font-size: 43px;
  line-height: 69px;
}

.training-sec-card-content {
  background: #fff;
  width: 320px;
  padding: 20px 30px;
  position: relative;
}

.training-sec-card-img {
  width: 380px;
  height: 230px;
}

.training-sec-card-img img {
  width: 100%;
}

.training-sec-card-content-heading {
  margin: 20px 0px;
}

.training-sec-card-content-heading h3 {
  max-width: 264px;
  font-size: 18px;
  font-family: "Gilroy-semibold", sans-serif;
  line-height: 25px;
}

.training-sec-card-content-sub-content {
  margin-bottom: 20px;
}

.training-sec-card-content-sub-content p {
  color: rgba(119, 119, 119, 1);
  font-size: 15px;
  line-height: 23px;
}

.training-sec-card-content-btn button {
  border: none;
  background: transparent;
  color: rgba(5, 169, 61, 1);
  font-size: 17px;
  line-height: 19px;
  cursor: pointer;
}

.training-sec-card-content-btn i {
  color: rgba(246, 124, 1, 1);
  border: 1.5px soild rgba(246, 124, 1, 1);
  border-radius: 50%;
}

.training-sec-card-content-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.training-sec-card-content-mod {
  position: absolute;
  top: 0;
}

.training-sec-card-content-mod p {
  background-color: rgba(5, 169, 61, 1);
  color: #fff;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
}

.training-sec-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* about-section */

.about-sec-container{
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-sec-image{
  width: 500px;
  height: 500px;
}

.about-sec-image img{
  width: 100%;
}

.about-sec-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-sec{
  display: flex;
  margin: 80px 0px;
  justify-content: space-between;
  gap: 100px;
}

.about-sec-content-heading h1{
  color: rgba(5, 169, 61, 1);
  font-size: 43px;
  line-height: 69px;
  font-family: "Gilroy-bold",sans-serif;
}

.about-sec-content-sub-content p{
  max-width: 600px;
  color: rgba(119, 119, 119, 1);
  font-size: 16px;
  line-height: 26px;
}

.about-sec-content-btn {
  margin: 0;
}

.about-sec-content-btn button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  border: none;
  border-radius: 70px;
  background: rgba(5, 169, 61, 1);
  color: #fff;
  padding: 16px 30px;
  cursor: pointer;
}

.about-sec-content-btn button i {
  border: 1.5px solid rgba(241, 246, 1, 1);
  border-radius: 50%;
  color: rgba(241, 246, 1, 1);
}